---
import Base from "../layouts/base.astro";
const pages = Object.values(import.meta.glob("./*.md", { eager: true })).filter(
    (page) => !page.file.includes("index.md"),
);
---

<Base frontmatter={{ title: "index" }}>
    <h1>Obras</h1>
    <ul>
        {
            pages
                .filter((page) => {
                    return (
                        page.url != "/ficha-tecnica" &&
                        page.url != "/texto-curatorial"
                    );
                })
                .map((page) => (
                    <li>
                        <a href={page.url}>
                            {page.frontmatter.title ?? page.url}
                        </a>
                    </li>
                ))
        }
    </ul>
    <hr />
    <ul>
        <li>
            <a href="/texto-curatorial">Texto curatorial</a>
        </li>
        <li>
            <a href="/ficha-tecnica">Equipe</a>
        </li>
    </ul>
</Base>
