---
import "../style/style.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
	</head>
	<body class="home">
		<div class="container left">
			Agora todas as paginas irão mostrar um QR code no final do texto
			<div>
				<a href="/">Pagina principal</a>
			</div>
		</div>
	</body>
	<script>
		window.localStorage.setItem("qr", "true");
	</script>
</html>
